# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
venv/
env/

# Editor directories
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs or temporary files
*.log
*.tmp
